body{
    background-color: rgb(44, 43, 43);
    color: white;
}
.Target{
    background-color: rgb(185, 185, 253);
    color: black;
    font-size: 20px;
}
.Target-title{
    text-align: center;
    color: black;
    font-size: 30px;
    font-weight: 700;
}